.title{
  font-size: 10vw;
  text-align: center;
  margin-top: 5vh;
}
.subTitle{
  font-size: 5.5vw;
  text-align: center;
  margin-bottom: 50vh;
}
.homeButton{
  width: 85%;
  height: 50px;
  margin: auto;
  display: block;
  margin-top: 1vh;
}