<!-- Estructura del proyecto. En ionic todos los elementos comienzan con el prefio 'ion' -->
<ion-content [fullscreen]="true">
  <h1 class="title">Page App</h1>
  <h2 class="subTitle">Proyecto de Ionic</h2>
  <!-- Para llamar las funciones, se utilizo el evento click '(click)' en cada ion-button -->
  <ion-button class="homeButton" color="warning" (click)="goToSamirMendez()">Go to Samir Méndez</ion-button>
  <ion-button class="homeButton" color="warning" (click)="goToMathewsMendez()">Go to Mathews Méndez</ion-button>
  <!-- Para llamar las funciones, se utilizo el evento click '(click)' en cada ion-button -->
</ion-content>
<!-- Estructura del proyecto. En ionic todos los elementos comienzan con el prefio 'ion' -->